<h2>
  <h4> <%= @game_session.player_1.name %>, please cover your eyes.</h4>
  <h4> <%= @game_session.player_2.name %>, choose one of the options bellow and click submit:</h4>
  <form action="/player_2_option" method="post">
    <label for="rock">Rock</label>
    <input type="radio" name="player_2_option" id=rock value="rock"><br>
    <label for="paper">Paper</label>
    <input type="radio" name="player_2_option" id=paper value="paper"><br>
    <label for="scissors">Scissors</label>
    <input type="radio" name="player_2_option" id=scissors value="scissors"><br>
    <label for="spock">Spock</label>
    <input type="radio" name="player_2_option" id=spock value="spock"><br>
    <label for="lizard">Lizard</label>
    <input type="radio" name="player_2_option" id=lizard value="lizard"><br>
    <input type="submit" value="Submit">
  </form>
</h2>
