<h2>Welcome <%= session[:player_name] %>!</h2>
<h4>Choose one of the options bellow and click submit:</h4>
<form action="/winner" method="post">
  <label for="rock">Rock</label>
  <input type="radio" name="player_option" id=rock value="rock"><br>
  <label for="paper">Paper</label>
  <input type="radio" name="player_option" id=paper value="paper"><br>
  <label for="scissors">Scissors</label>
  <input type="radio" name="player_option" id=scissors value="scissors"><br>
  <input type="submit" value="Submit">
</form>
